.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
.vs
.vscode
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ss]erverData/
/[Ll]ogs/
/BuildReports
/UnityBuildReports
/Assets/Logs
/Assets/Logs.meta
/Assets/Plugins/GeneratedLocalRepo
/lock.txt
/Assets/AddressableAssetsData/Android
/Assets/AddressableAssetsData/iOS
/Assets/AddressableAssetsData/WebGL
/Assets/AddressableAssetsData/Windows
/Tools/build.log
/MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.sublime-workspace
*.pidb.meta
*.zip
*.rar
*.swp
*.swo

sysinfo.txt
headless_builder_backup
headless_builder_backup
